body {
  margin: 0 auto;padding:12vh 10vmin; 
  max-width:35em; 
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height:1.5em; 
  color:rgba(0,0,0,0.87);
}

h1 { font-weight:400; }
h2 { font-weight:500; }

body.placeholder #placeholder {
  display:block;
}

#placeholder {
  display:none;
  font-style:italic;
  color:rgba(0,0,0,0.3);
  pointer-events: none;
  position:absolute;
}

body.drag #content {
  outline: 3px dashed #ccc;
  background-color:#fafafa;
  border-radius:1em;
  pointer-events: all;
}

#content, #placeholder{
  width:100%;
  margin:-1em; padding: 1em;
  min-height:2em
}

#content {
  outline:none;
}
#content:focus {
  outline-color: #ccc;
}
#content:empty:before {
  content: attr(placeholder);
  color: rgba(0, 0, 0, 0.2);
  background: transparent;
}
.ib-file {
  border-radius: 1em;
  background: #ebeff9;
  padding: 0.25em 1em;
  font-size:smaller;
}

#ib-info {
  pointer-events: all
}
/*#toolbar a#copy {
  transition: transform 1s;
  cursor: default;
}

#copy:active {
  transform:translate(0, -0.5em);
  transition: transform 100ms;
  color:red;
}
*/

body.has-content #toolbar {
  opacity:1.0;
  transition: opacity 2s ease-out;

}

#toolbar {
  opacity:0.0;
  position:fixed; 
  top:0;
  right:0;
  padding:3px 10px 5px 30px;
  transition: opacity 218ms ease-in;
  text-align:right;
  background-color:#f1f1f1;
  border-bottom-left-radius:10em;
  font-family:monospace;
  font-weight:bold;
  border
}

#toolbar button {
  vertical-align: baseline;

  font-family:monospace;
}

#toolbar a.invalid {
  text-decoration: line-through;
}





#toolbar a {font-size:11px; margin-right:0.5em; cursor: pointer; text-decoration:none; color:#333;}
#toolbar a:hover { text-decoration: underline; color:#111;}

*[contenteditable="true"]{display: inline-block;}