* {
  font-family:  -apple-system, BlinkMacSystemFont, sans-serif;
}

:root {
  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-low:
    0px 0.5px 0.6px hsl(var(--shadow-color) / 0.34),
    0px 0.8px 0.9px -1.2px hsl(var(--shadow-color) / 0.34),
    0px 1.9px 2.1px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0px 0.5px 0.6px hsl(var(--shadow-color) / 0.36),
    0px 1.5px 1.7px -0.8px hsl(var(--shadow-color) / 0.36),
    0px 3.8px 4.3px -1.7px hsl(var(--shadow-color) / 0.36),
    -0.1px 9.4px 10.6px -2.5px hsl(var(--shadow-color) / 0.36);
}

body {
  color:#16161d;
  background-color: #eeeeef;
  display:flex;
  justify-content:center;
  align-items: center;
  min-height:100vh;
}

#arc-theme {
  background:
  linear-gradient(0deg, var(--arc-background-gradient-overlay-color1) 0%, transparent 100%),
  linear-gradient(90deg, var(--arc-background-gradient-color0) 0%, var(--arc-background-gradient-color1) 100%);
  position:fixed;
  z-index:-1;
  top:0;
  left:0;
  right:0;
  bottom:0;
  opacity: 1.0;
  pointer-events: none;
}

.contact {
  background-color: rgba(255,255,255,0.5);
  width:320px;
  min-height:518px;
  box-shadow: var(--shadow-elevation-medium);
  margin-bottom:10vh;
  border-radius:10px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom:8px solid white;
  overflow:hidden;
}

.firstGroup {
  display:flex;
  flex-direction: column;
  width:320px;
}

@media only screen and (min-width: 640px) {
  .contact {
    flex-direction: row;
    width:640px;
  }
}

.header {
  flex: 1 1 auto;
  padding-top:1em;
  display:flex;
  flex-direction: column;
  padding: 24px 8px 8px 0px;
}

.content {
  border-top:8px solid white;
}

img.profile {
  aspect-ratio: 1.0;
  background-color:rgba(0,0,0, 0.025);
  width:100%;
}

/* .header img {
  width:64px;
  height:64px;
  border-radius:100%;
  float:right;
  order:-1;
  margin-left:1em;
} */


.icon {
  order:-1;
  padding: 6px 0;
  margin-right:0;
  align-self: flex-start;
  height: 8px;
  min-width:24px;
  height:24px;
}

.icon img {
  width: 24px;
  height:24px;
  border-radius:2px;
}

.row {
  display:flex;
  text-decoration:none;
  color:black;
  flex-direction: row;
  /* border-top:1px solid #eee; */
  min-height:40px;
  align-items: center;
  background:white;
}

.header div.row {
  padding: 0 0px;
  margin: 8px 16px 0 16px;
  order:1;
  background-color:transparent
}

div.row a {
padding: 8px;
color:black;
}

.field {
  flex: 1 1 auto;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  padding:4px 0;
  padding-left:16px;

}

.icon svg {width: 24px;height: 24px;}

a, h1, div.memo, .header div {
  padding: 0 24px;
  margin:0;
}

div.memo {
  opacity:0.5
}

h1 {
  font-weight:normal;
  font-size:24px;
}

.contact a:hover {
  background-color: #fafafa;
}